@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --orange: #FCA726;
    --light-grey: #f5f4f2;
    --dark-grey: #2e2e2e;
    --grey: #7e7e7e;
    --white: #fff;
    --width: 90vw;
    --flex-direction: row;
    --text-width: 60em;
    --flex-justify: space-between; 

}

/* Small format */
@media (max-width: 600px) {
    :root {
        --flex-direction: column;
        --text-width: 80vw;
        --flex-justify: center; 

    }
}

::selection {
    background: var(--orange);
    color: var(--white);

}

html,
body {
    margin: 0 auto;
    padding: 0;
    background: var(--white);
    font-family: "Anonymous Pro", monospace;
    color: var(--grey);

}


h1 {
    color: var(--orange);
    text-decoration: inherit;

}

h2 {
    text-decoration: inherit;
    font-size: 1.5rem;
    margin: 0; 
    color: var(--dark-grey)
    
}
h3 {
    font-size: 1.25rem;
    margin-top: 1rem; 
    margin-bottom: 1rem;
    color: var(--dark-grey)
    
}

Link {
    text-decoration: none;
    color: inherit;


}

.content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* margin: 0 auto; */

}
:is(p) :is(img) {
    display: flex;
    align-content: center;
    padding: 1rem;

}
.innerHTML img {
    max-height: 30rem; 
    max-width: 80%;
    box-shadow: .25em .25em .25em var(--light-grey);
    margin: 1rem; 
    margin: 0 auto; 

}
ul {
    padding: 0; 
    margin: 0; 

}
li {
    list-style: none;

}

li a {
    font-size: 1.25rem;
    text-decoration: inherit;
    line-height: 2rem;

}

a {
    color: var(--orange);

}

time {
    font-size: 1rem;
}
.divider {
    height: 0.12rem;
    width: 60%;
    margin: 1em auto;
    margin-top: 2rem;
    background: var(--dark-grey);

}
blockquote {
    background: var(--light-grey);
    padding-top: 0.06rem;
    padding-bottom: 0.06rem;
    padding-left: 1rem;
    padding-right: 1rem;

}