@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --orange: #FCA726;
    --dark-blue: #458ABF;
    --light-blue: #1D9DFF;
    --light-grey: #f7f3ef;
    --grey: #69737A;
    --dark-grey: #575148;
    --white: #fff;
    --width: 90vw;
    --flex-direction: row;
    --text-width: 60em;

}

@media (max-width: 600px) {
    :root {
        --flex-direction: column;
        --text-width: 80vw;

    }
}

::selection {
    background: var(--orange);
    color: var(--white);

}

html,
body {
    margin: 0 auto;
    padding: 0;
    background: var(--white);
    font-family: "Anonymous Pro", monospace;
    color: var(--dark-grey);

}


h1 {
    color: var(--orange);
    text-decoration: inherit;

}

h2 {
    text-decoration: inherit;
    font-size: 1.5rem;
    margin: 0; 

}

Link {
    text-decoration: none;
    color: inherit;


}

.content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0 auto;

}
ul {
    padding: 0; 
    margin: 0; 

}
li {
    list-style: none;

}

li a {
    font-size: 1.25rem;
    text-decoration: inherit;
    line-height: 2rem;

}

a {
    color: var(--orange);

}

time {
    font-size: 1rem;
}
.divider {
    height: 0.12rem;
    width: 60%;
    margin: 1em auto;
    margin-top: 2rem;
    background: var(--dark-grey);

}