@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --orange: #FCA726;
    --dark-blue: #458ABF;
    --light-blue: #1D9DFF;
    --light-grey: #A6A39F;
    --grey: #69737A;
    --dark-grey: #575148;
    --white: #fff;
    --width: 90vw;

}

::selection {
    background: var(--orange);
    color: var(--white);

}
html, body {
    margin: 0;
    padding: 0;
    background: var(--white);
    font-family: "Anonymous Pro", monospace;
    color: var(--dark-grey);

}


h1 {
    color: var(--orange);
    text-decoration: inherit;

}
h2 {
    text-decoration: inherit; 
    font-size: 1.25rem;
}

Link {
    text-decoration: none;
    color: inherit;

    
}

.content {
    padding-left: 3rem;
    padding-right: 3rem;
    width: 80vw;
    margin: auto;
    
}

li { 
    padding-bottom: 2rem;

}
li a {
    font-size: 1.25rem;
    text-decoration: inherit;
    line-height: 2rem;

}
a {
    color: var(--orange);

}
time { 
    font-size: 1rem;
}