.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.container img {
    height: 100%;
    width: 5rem;
    border-radius: var(--rounding);

}

@media (min-width: 600px) {
    .container .inside {
        margin-right: 1rem;
    
    }
}