.container {
    padding-right: calc((100vw - var(--text-width)) / 2);
    padding-left: calc((100vw - var(--text-width)) / 2);
    width: var(--text-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background: var(--light-grey);

}
.container * {
    margin-right: 1rem;
    margin-left: 1rem;
    
}