.container {
    padding-right: 10vw;
    padding-left: 10vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 10vh;
    background: var(--light-grey);

}
.container * {
    margin-right: 1rem;
    margin-left: 1rem;
    
}