.container {
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    position: sticky;
    top: 0;
    background: var(--white);
    flex-wrap: wrap;
    align-content: center;
    flex-direction: var(--flex-direction);

}

.container p {
    margin: 0;
    
}