.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    align-content: center;
    width: var(--text-width);
    min-height: 70vh;
}  