.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    align-content: center;
    width: var(--text-width);
    
}